// Variables
$font-family: "Roboto Slab", serif;

// Variable Overrides

$body-bg: #f7f0f5;

$theme-colors: (
  "primary": #2b303a
);

html {
  position: relative;
  min-height: 100%;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;

  color: #2b303a;
  margin-bottom: 100%;
}

hr.style-one {
  border: 0;
  height: 2px;
  background: #2b303a;
  background-image: linear-gradient(to right, #f7f0f5, #2b303a, #f7f0f5);
}

hr.style-two {
  border: 0;
  height: 2px;
  background: #f7f0f5;
  background-image: linear-gradient(to right, #2b303a, #f7f0f5, #2b303a);
}

.navbar {
  background-color: #f7f0f5;
  height: 10vh;
}

.navbar-brand {
  font-family: Mogra;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px !important;
  text-align: center;
  color: #ce3b4d !important;
}

.collapse {
  font-family: Patua One;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px !important;
  text-align: center;
}

.fa.fa-navicon {
  color: #2b303a;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(
      to bottom,
      #f7f0f5 0%,
      rgba(64, 122, 64, 0.7) 0%
    ),
    url("/assets/Maron-Obama-Podcast-web-2-800x400.jpg");

  height: 90vh;

  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .episode_title {
    color: #f7f0f5 !important;
    font-family: Patua One;
    text-align: center !important;
    font-size: 36px !important;
    filter: drop-shadow(0 0 30px #2b303a);
  }

  .episode_description {
    color: #f7f0f5 !important;
    font-family: Open Sans;
    font-size: 18px !important;
    filter: drop-shadow(0 0 30px #2b303a);
  }

  .episode {
    font-family: Open Sans;
    iframe {
      filter: drop-shadow(0 0 30px #2b303a);
    }
    .buzz_share {
      .buzz_share_item {
        a {
          background-color: #f7f0f5 !important;
          border: 2px solid #f7f0f5 !important;
        }
      }
    }
  }
}

.banner-text {
  font-family: Open Sans;
  font-style: Italic;
  font-size: 24px !important;
  text-align: center;
}

.episode_name {
  color: #f7f0f5 !important;
}

.welcome {
  color: #2b303a;
  font-family: Patua One;
  font-style: Regular;
  font-size: 64px !important;
  text-align: center;
}

.details {
  color: #2b303a;
  font-family: Open Sans;
  font-style: Bold, Regular;
  font-size: 24px !important;
  text-align: center;
}

.details_bold {
  color: #407a40;
  display: inline !important;
}

.header {
  display: inline-block !important;
}

// .button {
//   filter: drop-shadow(0 0 3px #2b303a);
// }

.button:hover {
  filter: drop-shadow(0 0 3px #2b303a);
}

.button-caption {
  color: #2b303a;
  font-family: Open Sans;
  font-style: Regular;
  font-size: 16px !important;
  text-align: center;
}

.podcast_item {
  display: inline;
  cursor: pointer;
  .icon {
    background-color: #ce3b4d;
    border-radius: 10px;
    border: 3px solid #ce3b4d !important;
  }
  .icon:hover {
    background-color: #f7f0f5;
    border-radius: 10px;
    border: 3px solid #f7f0f5 !important;
  }
  .apple {
    background-image: url("/assets/appleicon.svg");
  }
  .apple:hover {
    background-image: url("/assets/appleicon2.svg");
  }
  .spotify {
    background-image: url("/assets/spotifyicon.svg");
  }
  .spotify:hover {
    background-image: url("/assets/spotifyicon2.svg");
  }
  .stitcher {
    background-image: url("/assets/stitchericon.svg");
  }
  .stitcher:hover {
    background-image: url("/assets/stitchericon2.svg");
  }
  .radiopublic {
    background-image: url("/assets/rpicon.svg");
  }
  .radiopublic:hover {
    background-image: url("/assets/rpicon2.svg");
  }
  .rss {
    background-image: url("/assets/rssicon.svg");
  }
  .rss:hover {
    background-image: url("/assets/rssicon2.svg");
  }
}

.image {
  border-radius: 10px;
  filter: drop-shadow(0 0 3px #2b303a);
}

#map {
  height: 400px;
  width: 100%;
  filter: drop-shadow(0 0 1px #2b303a);
}

.link {
  color: #0000ee !important;
}

footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // height: 40px;
  // line-height: 40px;
  color: #f7f0f5;
  background-color: #2b303a;
  text-align: center;
}

.footer_header {
  font-family: Mogra;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px !important;
}

.footer_logo {
  color: #f7f0f5;
  display: inline-block !important;
}

.footer_email {
  font-style: italic;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
