// Variables
$font-family: "Roboto Slab", serif;

// Variable Overrides

$body-bg: #f7f0f5;

$theme-colors: (
  "primary": #2b303a
);

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;

  color: #2b303a;
  margin-bottom: 100%;
}

.navbar {
  background-color: #f7f0f5;
  height: 15vh;
}

.navbar-brand {
  font-family: Mogra;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px !important;
  text-align: center;
  color: #ce3b4d !important;
}

.collapse {
  font-family: Patua One;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px !important;
  text-align: center;
}

.fa.fa-navicon {
  color: #2b303a;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(
      to bottom,
      #f7f0f5 0%,
      rgba(64, 122, 64, 0.9) 10%
    ),
    url("/assets/Maron-Obama-Podcast-web-2-800x400.jpg");
  // background: linear-gradient(to bottom, #f7f0f5 0%, #407a40 10%);
  // background-color: #407a40;

  /* Set a specific height */
  height: 85vh;

  display: block;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .episode {
    font-family: Open Sans;
    .episode_name {
      color: #f7f0f5 !important;
      text-align: center;
      font-size: 36px !important;
    }
    .meta {
      text-align: center;
      .date {
        color: #f7f0f5 !important;
      }
    }
    .description {
      color: #f7f0f5 !important;
      font-size: 24px !important;
    }
  }
}

.banner-text {
  font-family: Open Sans;
  font-style: Italic;
  font-size: 24px !important;
  text-align: center;
}

.episode_name {
  color: #f7f0f5 !important;
}

// #banner {
//   background: linear-gradient(to bottom, #f7f0f5 0%, #407a40 10%);
//   background-color: #407a40;
// }

// .img-banner {
//   opacity: 0.2;
//   filter: alpha(opacity=50); /* For IE8 and earlier */
// }

.link {
  color: #0000ee !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #d8d8d8;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
